<% numberWithCommas=function(x) { x=parseFloat(x).toFixed(2); return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","
    ); }; getDateFormated=function(date) { var d=new Date(date); var month=d.getMonth() + 1; var day=d.getDate(); var
    year=d.getFullYear(); return day + "/" + month + "/" + year; }; cali=function(x) { return Math.ceil(x); } %>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&display=swap');

        :root {
            --font-color: black;
            --highlight-color: #d66100;
            --footer-bg-color: #BFC0C3;
            --table-row-separator-color: #BFC0C3;
        }

        * {
            font-family: 'Noto Sans Thai', sans-serif;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        hr {
            height: 0;
            border: 0;
            border-top: 1mm solid var(--highlight-color);
        }

        header {
            height: 8cm;
            position: running(header);
            background-color: var(--header-bg-color);
        }

        header .headerSection {
            display: flex;
            justify-content: space-between;
        }

        header .headerSection:first-child {
            padding-top: .25cm;
        }

        header .headerSection:last-child {
            padding-bottom: .25cm;
        }

        header .headerSection div:last-child {
            width: 35%;
        }

        header .headerSection .invoiceDetails {
            padding-top: .25cm;
        }

        header .headerSection h3 {
            color: var(--highlight-color);
        }

        header .headerSection div:last-of-type h3:last-of-type {
            margin-top: .5cm;
        }

        header .headerSection div p {
            margin-top: 1px;
        }

        header h1,
        header h2,
        header h3,
        header p {
            margin: 0;
        }

        header .invoiceDetails,
        header .invoiceDetails h2 {
            text-align: right;
            font-size: 1em;
            text-transform: none;
        }

        header h2,
        header h3 {
            text-transform: uppercase;
        }

        main table {
            width: calc(100% - 1cm);
            border-collapse: collapse;
            margin: 0 auto;
        }

        main table thead th {
            height: 1cm;
            color: var(--highlight-color);
        }

        main table thead th:nth-of-type(2),
        main table thead th:nth-of-type(3),
        main table thead th:nth-of-type(4) {
            width: 3cm;
        }

        main table tbody td {
            padding: 1mm 0;
        }

        main table thead th:last-of-type,
        main table tbody td:last-of-type {
            text-align: right;
        }

        main table th {
            text-align: left;
        }
    </style>

    <% for (let page=1; page < cali(billItem.length / 5) + 1; page++) { let isLastPage=page==cali(billItem.length / 5);
        let visible=!isLastPage ? "visibility: hidden;" : "" ;%>
        <header>
            <div style="text-align: right; margin-right: .5cm; font-size: 14px;"><b>[หน้า <%= page %> จาก <%=
                            cali(billItem.length / 5) %>]</b></div>
            <div class="headerSection" style="padding: 0.25cm 1cm;">
                <div style="width: fit-content;">
                    <h1>
                        Invoice
                    </h1>
                    <span>
                        <%= name %>
                    </span>
                </div>
                <div class="invoiceDetails">
                    <h2>Ref: <%= ref %>
                    </h2>
                    <p>
                        วันที่ออก invoice <%= getDateFormated(createdAt) %>
                    </p>
                </div>
            </div>
            <hr />
            <div class="headerSection" style="margin: .5cm 1cm 0 .5cm;">
                <div>
                    <h3>จาก</h3>
                    <p style="margin-bottom: 0.5cm;">
                        <span><b>
                                <%= owner.name %>
                            </b> (<%= owner.email %>)</span>
                    </p>
                    <h3>ถึง</h3>
                    <p>
                        <span><b>
                                <%= userBill[0].name %>
                            </b> (<%= userBill[0].email %>)</span>
                    </p>
                </div>
                <div>
                    <h3>สถานะ</h3>
                    <p>
                        <b>
                            <%= state %>
                        </b>
                    </p>
                    <h3>ยอดที่ต้องชำระ</h3>
                    <p>
                        <b>฿ <%= numberWithCommas(totalAmount) %></b>
                    </p>
                </div>
            </div>
        </header>
        <main style="margin-top: -.5cm;">
            <table>
                <thead>
                    <tr>
                        <th>รายการ</th>
                        <th>ราคา</th>
                        <th>จำนวน</th>
                        <th>รวม</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=(page - 1) * 5; i < page * 5; i++) { %>
                        <% if (i>= billItem.length) {
                            %>
                            <tr>
                                <td colspan="4" style="height: 1cm;"></td>
                            </tr>
                            <% continue; } %>
                                <tr>
                                    <td>
                                        <b>
                                            <%= i + 1 %>. <%= billItem[i].name %>
                                        </b>
                                    </td>
                                    <td>
                                        <%= numberWithCommas(billItem[i].unitAmount) %>
                                    </td>
                                    <td>
                                        <%= billItem[i].quantity %>
                                    </td>
                                    <td>
                                        <%= numberWithCommas(billItem[i].amount) %>
                                    </td>
                                </tr>
                                <% } %>
                </tbody>
            </table>
            <% if(!isLastPage) { %>
                <div style="text-align: right; margin-right: .5cm; font-size: 15px;"><b>* มีต่อ</b></div>
                <% } %>
        </main>
        <div
            style="display: grid; <%= visible %> grid-template-columns: 7cm 5cm; text-align: right; row-gap: .1cm; justify-content: flex-end; margin: .5cm;">
            <b>ราคารวม</b>
            <div>
                <%= numberWithCommas(amount) %> ฿
            </div>

            <b>Service Charge (<%= billItem[0].serviceChargePercent %>%)</b>
            <div>
                <%= numberWithCommas(totalServiceCharge) %> ฿
            </div>

            <b>ราคารวม Service Charge</b>
            <div>
                <%= numberWithCommas(totalServiceCharge + amount) %> ฿
            </div>

            <b>ภาษี (<%= billItem[0].taxPercent %>%)</b>
            <div>
                <%= numberWithCommas(totalTax) %> ฿
            </div>

            <b style="font-size: 21px;">ราคาทั้งหมด</b>
            <b style="font-size: 21px;">
                <%= numberWithCommas(totalAmount) %> ฿
            </b>
        </div>
        <aside>
            <hr />
            <div style="margin: .5cm;">
                <div>
                    <b>ข้อกำหนดและเงื่อนไข</b>
                    <p style="text-align: justify; font-size: 15px;">
                        &nbsp; &nbsp; ท่านสามารถติดตามสถานะของ invoice ได้ <b><a
                                href="<%= context.frontend_path %>/bill/<%= ref %>" target="_blank">ที่นี่</a></b>
                        หากมีข้อสงสัยเกี่ยวกับสถานะของ invoice โปรดติดต่อที่ <b><a href="mailto:<%= owner.email %>"
                                target="_blank">
                                <%= owner.email %>
                            </a></b>
                        ในกรณีที่ท่านทำการชำระแล้วโปรดแนบหลักฐานการชำระ <b><a
                                href="<%= context.frontend_path %>/bill/<%= ref %>" target="_blank">ที่นี่</a></b>
                        และทำการกดปุ่ม ยืนยันการชำระเงิน และรอ <%= owner.name %></b> ทำการยืนยันการชำระเงินดังกล่าว
                    </p>
                </div>
                <div>
                    <b>การชำระเงิน</b>
                    <p style="text-align: justify; font-size: 15px;">
                        &nbsp; &nbsp; ท่านสามารถทำการชำระเงินได้ที่พร้อมเพย์บัญชี <b>
                            <%= payment[0].name %>
                        </b>
                        เลขที่พร้อมเพย์ <b>
                            <%= payment[0].number %>
                        </b> หรือสแกน QR Code ด้านล่าง
                    </p>
                    <div>
                        <img alt="payment"
                            src="<%= context.promptpay_api_url %>/api?id=<%= payment[0].number %>&amount=<%= totalAmount %>"
                            style="width: 140px; height: 140px;">
                    </div>
                </div>
            </div>
        </aside>
        <% if(!isLastPage) { %>
            <div style="page-break-after: always;"></div>
            <% } %>
                <% } %>